{% extends 'landing/main.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<meta name="google-adsense-account" content="ca-pub-9133208017441567">
{% endblock meta %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home-info' %}">Home</a></li>
          <li>Share Your Video's</li>
        </ol>
        <h2>Share Your Video's</h2>

      </div>
    </section><!-- End Breadcrumbs -->

        <section id="about" class="about">
        	<div class = "row" >
			        <div class = "col-lg-6 md-6 sm-12">
			        			<div class="container mb-4 " style="margin-top: 100px;  width:100%; " >
				    <div class="card center" >
				      <div class="card-body shadow ">
				          <div class="content-section border-bottom m-5">
							<h1 style="text-transform: capitalize; font-weight: lighter; font-size: 15px;">Whats on your Mind !! </h1>
						<img src="/static/info/assets/img/skills-img.jpg" class="img-thumbnail" alt="Cinque Terre">
							  </div>
							</div>
							
						 </div>
			          </div>

			        	</div>
			        	
			        <div class="col-lg-6 md-6 sm-12">
			     	<div class="container mb-4 " style="margin-top: 100px;  width:100%; " >
				    <div class="card center" >
				      <div class="card-body shadow ">
				          <div class="content-section border-bottom m-5">
							<h1 style="text-transform: capitalize; font-weight: lighter; font-size: 15px;">Whats on your Mind !! </h1>
							<form method="post" enctype="multipart/form-data">
								<div class="form-group">
												{% csrf_token %}
												{{ form.media }}
											    {{ form|crispy }}
											    <button class="btn btn-primary" type="submit"> Share Video </button>
								</div>
							</form>
							  </div>
							</div>
							
						 </div>
			          </div>
			      </div>

			               	
			          </div>
			      </div>
          </section>	


{% endblock content %}


