{% extends 'geeks/base.html' %}
{% load static %}

 {% block title %}
    Course Video Lectures | Learnincreation Geeks
 {% endblock title %}

<!-- meta tags for seo -- >
{% block meta %}

    <meta name="description" content= " Learnicreation geeks course, e-books library free accesible for students and computer learner who are looking for e-learning resources regarding computer courses.">
  <meta name="keywords" content="Learnincreation E-book, Learnincreation Library , e books library , free, business guide, online , business, how to , build , business profile ,  commmunity standards ">
  <meta name="author" content="Learnincreation">

{% endblock meta %}

<!-- navbar section -->
{% block navbar %}
  
  
  
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="{% url 'geeks-home' %}">Home</a>
        <a class="nav-link " href="{% url 'pathway' %}">Pathway</a>
        <a class="nav-link active" aria-current="page" href="{% url 'geeks-courses' %}">Courses</a>
        <a class="nav-link"   href="{% url 'geeks-question' %}">Q/A Series </a>
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
        {% if user.is_authenticated %}
           <a class="nav-link" href="{% url 'setting' %}">Setting</a>
           <a class="nav-link" href="{% url 'profile' user.profile.pk %}"> <button class="btn btn-primary p-1" style="font-size: 12px;" > Profile </button></a>
           {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'course-create' %}"> <button class="btn btn-primary p-1" style="font-size: 12px;" > Create Course </button></a>
             <a class="nav-link" href="{% url 'coursearticle-create' %}"><button class="btn btn-primary p-1" style="font-size: 12px;" > Create Lesson </button></a>
             <a class="nav-link" href="{% url 'geeks-coursearticle' %}"> <button class="btn btn-primary p-1" style="font-size: 12px;" > Course Lesson </button></a>
           {% endif %}
        {% else %}
        <a class="nav-link text-primary " href="{% url 'login' %}"> Sign in</a>
        {% endif %}
        
       
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>    </div>
  </div>
</nav>


{% endblock navbar %}

<!-- nav bar section end -->

{% block content %}

   <div class="container" style="margin:auto; padding:auto;">
        <div class="row" >   
               <div class="mt-5 ">
                  <img  src="{% static 'landing/images/video/1.png' %}" style="width:inherit; height:auto;" alt="learnincreation-banner-image">      
               </div>
        </div>
    </div>


<div class="container mt-5">
        <div class="row ">
          <h1 class="p-3"> Free Video Lesson Library <span style="color:orange; font-weight: bold;"> for Geeks </span> </h1>
          <hr>
          
          <div class="col-md-8 p-3">
            {% for videolesson in geeksvideo_list %}
                  <div class="card card-signin my-5 shadow p-4">
                      <div class="card-body p-2 m-1">
                      <h5>
                      <h7>Video Lesson on <small>Branch - <b class="text-primary">{{ videolesson.tags }}</b> </small></h7>
                      <hr>
                       <img src="{{ videolesson.thumbnail.url }}" class="rounded-circle" width="100" height="100" />
                      <br>
                      <h3 class="card-text text-dark " style="text-transform: capitalize;">{{ videolesson.topic }} </h3>
                       <hr>
                      <small class="text-muted"> Posted on {{videolesson.published_on}}</small><br>
                      <h7> <small class="text-muted">Level - {{videolesson.standard}}th standard</small></h7>
                      <hr>
               				<p class="card-text text-dark ">
               				 {{videolesson.body}}
                        <hr>
                        <b>Watch Lesson Video on <a href="{{videolesson.videofile}}"> Youtube </a></b>
                         {% if user == request.user %}
                         <hr>
                         This is helpful, I want to save this lecture for later ! <a href="{% url 'video-bookmark' videolesson.id %}"><button class="btn btn-primary p-1 shadow" style="font-size: 12px;"> Save Lesson </button> </a> 
                       {% endif %}
                        </p>

                    </div>
                  </div>
                  <hr>
            {% endfor %}
           </div>

           <div class="col-md-4 p-3 ">
            <div class="card card-signin m-3 shadow p-4 bg-primary">
              <div class="card-body  text-white">
                <h2> Explore More on </h2> <br>
                <!--<p class="card-text text-white"> </p> <hr>-->
                <p class="card-text text-white"> <a href="{% url 'course-bookmark-list' %}" class="text-white"> Enrolled Courses </a> </p><hr>
                <p class="card-text text-white"><a href="{% url 'geeks-question' %}" class="text-white"> Question/Answer</a></p><hr>
                <p class="card-text text-white"><a href="{% url 'video-bookmark-list' %}" class="text-white"> Saved Lesson </a></p> <hr>

              </div>
            </div>
           </div>
        </div>
    </div>


{% endblock content %}
