{% extends 'geeks/base.html' %}
{% load static %}

 {% block title %}
    Question and Answer | Learnincreation Geeks
 {% endblock title %}

<!-- meta tags for seo -->
{% block meta %}

  
    <meta name="description" content= " Quickly learn Computer Science Question Answer series free accesible for students and computer learner who are looking for e-learning resources regarding computer courses.">
  <meta name="keywords" content="Computer Question Answer, Learnincreation Library , Question Answer library , free, business guide, online , business, how to , build , business profile ,  commmunity standards ">
  <meta name="author" content="Learnincreation Geeks">

{% endblock meta %}

<!-- navbar section -->
{% block navbar %}
  
  
  
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="{% url 'geeks-home' %}">Home</a>
        <a class="nav-link " href="{% url 'pathway' %}">Pathway</a>
        <a class="nav-link " href="{% url 'geeks-courses' %}">Courses</a>
        <a class="nav-link active"  aria-current="page"  href="{% url 'geeks-question' %}">Q/A Series </a>
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
        {% if user.is_superuser %}
            
             <a class="nav-link" href="{% url 'question-create' %}"><button class="btn btn-primary p-1" style="font-size: 12px;" > Create Question </button></a>
            
           {% endif %}
        {% if user.is_authenticated %}
           <a class="nav-link" href="{% url 'setting' %}">Setting</a>
        {% else %}
        <a class="nav-link text-primary " href="{% url 'login' %}"> Sign in</a>
        {% endif %}
        
       
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div> 
         </div>
  </div>
</nav>


{% endblock navbar %}

<!-- nav bar section end -->

{% block content %}

   <div class="container mt-5" style="margin:auto; padding:auto;">
           
               <div class="mt-5 ">
                  <div class="row mt-5 pt-5">
                  <form class="form-inline my-2 my-lg-0" action="{% url 'search-question-results' %}" method="get">
                  <input class="form-control m-2 p-2" type="search"  name="q" placeholder="Enter Your Question ?" aria-label="Search">
                  <button class="btn btn-primary btn-sm active m-2 p-2 " type="submit">Search Question</button>
                </form>
               </div>      
               </div>
        
    </div>


<div class="container mt-5">
        <div class="row ">
          <h1 class="p-3"> Questions <span style="color:orange; font-weight: bold;"> for Geeks </span> </h1>
           <p>or you can <b>download your Pdf version</b> of Question Series - for later revision <a class="m-2 p-2 " href="{% url 'lessonpdf' %}"><button class="btn btn-outline-primary shadow">Quick learn Pdf</button></a> </p>
<hr>
          <div class="col-md-8 p-3">
            {% for question in quicklearn_list %}
            <div class="card card-signin my-5 shadow p-4">
              <div class="card-body p-2 m-1">
                <h5>Topic {{ question.topic }}</h5>
                <small class="text-muted"> Posted on {{question.published_on}}</small>
                <br>

                <h3 class="card-text text-dark ">Ques. - <b class="text-dark">{{ question.question }}</b> </h3>
                <h7> <small class="text-muted">Branch - <b class="text-primary">{{question.tags}}</b></small></h7>
            <hr>  
 				<p class="card-text text-dark ">
 				 <a href="{% url 'question-detail' question.pk %}"><button class="btn btn-outline-primary"> Read Answer</button></a> </p>

              </div>
            </div>
            <hr>
            {% endfor %}
           </div>

           <div class="col-md-4 p-3 ">
            <div class="card card-signin m-3 shadow p-4 bg-primary">
             <div class="card-body  text-white">
                <h2> Explore More on </h2> <br>
                <!--<p class="card-text text-white"> </p> <hr>-->
                <p class="card-text text-white"> <a href="{% url 'geeks-courses' %}" class="text-white" style='text-decoration:none;'> Geeks Courses </a> </p><hr>
                <p class="card-text text-white"><a href="{% url 'geeks-question' %}" class="text-white" style='text-decoration:none;'> Question/Answer</a></p><hr>
                <p class="card-text text-white"><a href="{% url 'geeks-video' %}" class="text-white" style='text-decoration:none;'> Video Lesson </a></p> <hr>

              </div>
            </div>
           </div>
        </div>
    </div>


{% endblock content %}
