{% extends 'geeks/base.html' %}
{% load static %}
 {% load crispy_forms_tags %}
<!-- navbar section -->
{% block navbar %}
  
  
  
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link  "  href="{% url 'home' %}">Home</a>
        <a class="nav-link " href="{% url 'about' %}">About</a>
        <a class="nav-link" href="{% url 'product' %}">Product</a>
        <a class="nav-link"   href="{% url 'geeks-question' %}">Q/A Series </a>
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
        {% if user.is_authenticated %}
           <a class="nav-link" href="{% url 'setting' %}">Setting</a>
        {% else %}
        <a class="nav-link text-primary " href="{% url 'login' %}"> Sign in</a>
        {% endif %}
        
       
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>    </div>
  </div>
</nav>


{% endblock navbar %}

<!-- nav bar section end -->

{% block content %}

<div class="container-fluid " style = "margin-top:120px; margin-bottom: 70px;">
 
 
   
     
   <!-- Header section -->
    <div class="container" style="margin:auto; padding:auto;">    
        <div class="row shadow" style="margin-bottom:10px; margin-top-30px;" >   
               <div class= " col-sm-10 md-10 lg-10 " style=" margin:auto; padding:50px;">
               
                      <form method="post" enctype="multipart/form-data">
                          <fieldset>
                            <legend>Want to <span style="color: orange; font-weight:normal;">  Delete Question </span> <hr>
                              <h2>{{quicklearn.question}} </h2>
                              </legend>
                              {% csrf_token %}
                                
                                <button class="btn btn-primary mt-5" type="submit">Delete   </button>
                            </fieldset>
                          <br>
                        </form> 
                   
                  </div>
        </div>
    </div>                 
              
   <!-- Update Form section  end -->  
   
 <!-- text-div--> 


{% endblock content %}