{% extends 'geeks/base.html' %}
{% load static %}
<!-- navbar section -->
{% block navbar %}
  
  
  
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="{% url 'geeks-home' %}">Home</a>
        <a class="nav-link " href="{% url 'pathway' %}">Pathway</a>
        <a class="nav-link " href="{% url 'geeks-courses' %}">Courses</a>
        <a class="nav-link active"  aria-current="page"  href="{% url 'geeks-question' %}">Q/A Series </a>
        <a class="nav-link" href="{% url 'contact' %}">Contact </a>
        {% if user.is_authenticated %}
           <a class="nav-link" href="{% url 'setting' %}">Setting</a>
        {% else %}
        <a class="nav-link text-primary " href="/login"> Sign in</a>
        {% endif %}
        
       
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div> 
         </div>
  </div>
</nav>


{% endblock navbar %}

<!-- nav bar section end -->

{% block content %}

   <div class="container" style="margin:auto; padding:auto;">
        <div class="row" >   
               <div class="mt-5 ">
                  <img  src="{% static 'landing/images/question-page.png' %}" style="width:inherit; height:auto;" alt="learnincreation-banner-image">      
               </div>
        </div>
    </div>


<div class="container mt-5">
        <div class="row ">
          <h1 class="p-3"> Shop  <span style="color:orange; font-weight: bold;"> in Town </span> </h1>
          <hr>
          
          <a href = '{% url "business-profile-create"  %}' ><h2> Create Your Business Profile </h2> </a>
          
          <div class="col-md-8 p-3">
            {% for shop in businessprofile_list %}
            <div class="card card-signin my-5 shadow p-4">
              <div class="card-body p-2 m-1">
                <h5>sector - {{ shop.sector }}</h5>
                <small class="text-muted"> Posted on {{shop.date}}</small>
                <br>

                <h3 class="card-text text-dark ">{{ shop.business_name }} </h3><h4> <small class="text-muted">Level - {{shop.email}}</small></h4>
 				<p class="card-text text-dark ">
 				 <a href="{% url 'business-detail' shop.pk %}"><button class="btn btn-outline-primary"> Detail</button></a> </p>

              </div>
            </div>
            <hr>
            {% endfor %}
           </div>

           <div class="col-md-4 p-3 ">
            <div class="card card-signin m-3 shadow p-4 bg-primary">
              <div class="card-body  text-white">
                <h2> Explore More on </h2> <br>
                <p class="card-text text-white"> Learnincreation </p> <hr>
                <p class="card-text text-white"> Learnincreation Geeks</p><hr>
                <p class="card-text text-white"> Learnincreation Business</p><hr>
                <p class="card-text text-white"> Learnincreation Pictures</p> <hr>

              </div>
            </div>
           </div>
        </div>
    </div>


{% endblock content %}
